*{
    padding: 0;
    margin: 0;
    /* font-family: 'Pinyon Script', cursive; */
}
/* left side */
.betty-page{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.profilebar{
    padding:20px;
    /* padding: 60px 60px 15px 60px; */
    width: 20%;
    position: fixed;
    bottom: 0;
    top: 0;
    overflow-x: hidden;
    z-index: 1001;
    transition: 0.5s;
    box-shadow: 0 0 30px rgb(0 0 0 / 5%);
    background: #e52e71;
    background-image: linear-gradient(to bottom, #e52e71, #ff8a00);
}
.profilebar .logo{
    text-align: center;
    padding: 0;
    display: block;
    width: 100%;
}
.profilebar .logo a{
    text-decoration: none;
}
.profilebar .logo img{
    width: 40px;
    height: auto;
    margin-bottom: 0px;
}
.profilebar .logo h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 1em;
    margin-bottom: 15px;
}
.profilebar .logo h1 a{
    text-decoration: none;
    color: white;
}
.profilebar .logo span{
    display: block;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    text-transform: none;
    color: #fff;
    font-weight: 500;
    line-height: 1.75em;
}
.profilebar nav{
    /* padding: 30px 0 45px 0; */
    padding: 10px;
}
.profilebar nav ul{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    box-sizing: border-box;
}
.profilebar nav ul li{
    margin: 15px;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    box-sizing: border-box;
}
.profilebar nav ul li a{
    color: white;
    text-decoration: none;
    margin: 7px 0 0 0;
    padding: 0 0 7px 0;
    list-style: none;
    font-family: 'Rambla', sans-serif;
    font-size: 18px;
    line-height: 1.75em;
    border-bottom: 2px solid rgba(228, 10, 10, 0.185);
}
.profilebar .info{
    /* padding: 10px 0px; */
    padding: 10px;
    box-sizing: border-box;
}
.profilebar .info .date{
    padding: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
}
.profilebar .info .date .clock{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    position: relative;
    z-index: 3;
    float: left;
    color: #fff;
    opacity: 0.9;
}
.profilebar .info .date .clock-info{
    overflow: hidden;
    box-sizing: border-box;
}
.profilebar .info .date .clock-info h5{
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 3px;
    font-family: 'Rambla', sans-serif;
    color: #fff;
}
.profilebar .info .date .clock-info h6{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
    font-family: 'Rambla', sans-serif;
}
.profilebar .footer{
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    /* padding: 600px 0px 0px 0px; */
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
.profilebar .footer ul{
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
    list-style-type: none;
}
.profilebar .footer ul:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.712);
    top: 50%;
    margin-top: -1px;
    right: 100%;
}
.profilebar .footer ul:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.712);
    top: 50%;
    margin-top: -1px;
    right: auto;
    left: 100%;
}
.profilebar .footer ul li{
    display: inline-block;
    margin-right: 5px;
    border: 2px solid rgba(255, 255, 255, 0.09);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.profilebar .footer ul li a{
    color: white;
    text-decoration: none;
}
/* right side */
.betty-main {
    width: 80%;
    float: right;
    transition: 0.5s;
    background-color:antiquewhite; 

}
.betty-main .betty-home{
    height:100vh;
    background-image: url(..//img/pexels-anna-shvets-5069494.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    margin-bottom: 0;
    clear: both;
}

/* services */
.betty-main .services{
    /* padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    width: 100%;
    display: block;
    height: 100vh;
    box-sizing: border-box; */
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.betty-main .services h3 {
    color: rgb(199, 26, 113);
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    left: -100%;
    transition: 1.5s;
}
.betty-main:hover h3{
    left: 0;
}
.betty-main .services h4{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: relative;
    transition: 1.5s;
    left: -100%;
    overflow: hidden;
}
.betty-main:hover h4{
    left: 0;
}
.betty-main .container{
    width: 100%;
}
.betty-main .container .row{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.betty-main .container .row .imgbox{
    width: 33.333%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.betty-main .container .row .imgbox .imgsubbox{
    position: relative;
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}
.betty-main .container .row .imgbox .imgsubbox::before {
    content: '';
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.226);
    position: absolute;
    transition: 1s;
    top: 100%;
    right: 100%;
}
.betty-main .container .row .imgbox .imgsubbox:hover::before {
    height: 98%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 1s;
    z-index: 1;
}
.betty-main .container .row .imgbox .imgsubbox img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}
.betty-main .container .row .imgbox .imgsubbox img::after {
    content: '';
    position: absolute;
}
.betty-main .container .row .imgbox .imgsubbox:hover img {
    transform: scale(1.1, 1.1);
}
.betty-main .container .row .imgbox .imgsubbox .iconbar{
    position: absolute;
    /* bottom: -40%; */
    width: 95%;
    text-align: center;
    height: 160px;
    box-sizing: border-box;
    overflow: hidden;
}
.betty-main .container .row .imgbox .imgsubbox:hover .iconbar {
    bottom: -0px;
    transition: 2s;
    transform: scale(1.1, 1.1);
}
.betty-main .container .row .imgbox .imgsubbox .iconbar h6 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    color: white;
    margin-bottom: 20px;
}
.betty-main .container .row .imgbox .imgsubbox .iconbar span {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    margin-top: 30px;
}

/* latest news*/
.latest-news{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.betty-main .latest-news h3 {
    color: rgb(199, 26, 113);
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    left: -100%;
    transition: 1.5s;
}
.betty-main:hover h3{
    left: 0;
}
.betty-main .latest-news h4{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: relative;
    transition: 1.5s;
    left: -100%;
    overflow: hidden;
}
.betty-main:hover h4{
    left: 0;
}
.betty-main .latest-news .container{
    width: 80%;
    /* margin: auto; */
}
.betty-main .latest-news .row{
    clear: both;
    width: 100%;
    margin-top: 20px;
}
.betty-main .latest-news .container .row .col-4{
    width: 33.333%;
    float: left;
    box-sizing: border-box;
    /* margin:10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.betty-main .latest-news .container .row .col-4 .subbox{
    text-align:left;
    overflow: auto;
    padding: 0 10px;
}
.betty-main .latest-news .container .row .col-4 .subbox .subbox-header{
    height: 200px;
    position: relative;
}
.betty-main .latest-news .container .row .col-4 .subbox .subbox-header img{
    width: 100%;
    height:200px;
    background-size: cover;
    background-position: center;
}
.betty-main .latest-news .container .row .col-4 .subbox .subbox-title{
    text-align: left;
    /* height: 50px; */
    padding:0 10px;
    float: left;
    background-color: white;
}
.betty-main .latest-news .container .row .col-4 .subbox .subbox-title h6{
    font-size:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}
.betty-main .latest-news .container .row .col-4 .subbox .subbox-title h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.betty-main .latest-news .container .row .col-4 .subbox .subbox-footer{
    background-color: white;
    float:left;
    padding:0 10px;
    width:100%;
    text-align: right;
    box-sizing: border-box;
}
.betty-main .latest-news .container .row .col-4 .subbox .subbox-footer h6{
    font-size: 15px;
    color: gray;
    margin-bottom:15px;
}


/* responsive */
/* left side responsive */
@media screen and (max-width: 1200px){
.profilebar {
    width: 30%;
}
}
/* right side responsive */
@media screen and (max-width: 1200px){
.betty-main {
    width: 75%;
}
}